// app global css
.bg
  border 1px solid green
.br
  border 1px solid red
.bp
  border 1px solid pink
.bb
  border 1px solid black
.hwhite:hover
  background rgba(255, 255, 255, 0.1) !important
  color black !important
.hblack:hover
  background rgba(0, 0, 0, 0.1) !important
  color white !important
*
  font-family 'Open Sans', sans-serif
::-webkit-scrollbar {
  width: 1px
  height: 1px !important
}
::-webkit-scrollbar-thumb {
  background: black
}